#main-header {
    text-align: center;
    background-color: red;
    color: white;
    padding: 60px;
    border-bottom: black 20px solid;
    font-family: 'Montserrat', sans-serif;
}
#caption {
    font-size: 20px;
}
#title {
    font-weight: bolder;
    font-size: 60px;
}
.main-container {
    color: black;
    text-align: left;
    margin-top: 100px;
}
#hangman {
    font-weight: bolder;
    font-size: 80px;
}
#pokemon {
    float: left;
    margin-left: 275px;
    margin-right: 150px;
}
footer {
    text-align: center;
    font-size: 10px;
    padding-top: 50px;
}